[submodule "themes/tale-hugo"]
	path = themes/tale-hugo
	url = https://github.com/EmielH/tale-hugo
[submodule "public"]
	path = public
	url = git@github.com:cal-miller/cal-miller.github.io.git
	branch = master
